In [1]:
import seaborn as sns
import pandas as pd

In [2]:
df = sns.load_dataset(name="tips")
df.sample(n=5)

     total_bill   tip     sex smoker   day    time  size
118       12.43  1.80  Female     No  Thur   Lunch     2
17        16.29  3.71    Male     No   Sun  Dinner     3
0         16.99  1.01  Female     No   Sun  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2

In [3]:
df.to_csv(path_or_buf="./tips.csv", index=False)